# Node
node_modules/

# Env
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# Uploads
uploads/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# SQL
*.sql

# Cache
.cache/
.tmp/

# Coverage
coverage/